* {
    font-family: Poppins;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    background-color: blueviolet;
    
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc-skeleton {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    height: 450px;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
}

h3 {
    font-size: 26px;
    margin-left: 10px;
}

input {
    margin: 0px 10px;
    height: 50px;
    max-width: 320px;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.numbering {
    width: 350px;
    height: 300px;
}

.list-numbers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.number {
    margin: 10px;
    justify-content: center;
    padding: 20px; 
    border: 1px solid black;
    border-radius: 50%;
}

.characters {
    margin: 10px;
    justify-content: center;
    padding: 20px; 
    border: 1px solid rgb(120, 9, 224);
    border-radius: 50%;
}

.char-column-4 {
    grid-column: 2;
}

.one {
    grid-column: 1;
}