* {
    font-family: Poppins;
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-skeleton {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

input {
    margin: 0px 10px;
    height: 50px;
    max-width: 320px;
    font-size: xx-large;
}

.numbering {
    width: 350px;
    height: 300px;
}

.list-numbers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.number {
    margin: 10px;
    justify-content: center;
    padding: 20px; 
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50%;
}

.characters {
    margin: 10px;
    justify-content: center;
    padding: 20px; 
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50%;
}

.char-column-4 {
    grid-column: 2;
}

.one {
    grid-column: 1;
}